<!DOCTYPE html>
<html lang="id">
<head>
    <title> {{ .Title }} </title>
    <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}" property="og:description">


    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@fajaragngn" />
    <meta name="twitter:creator" content="@fajaragngn" />

    <meta name="twitter:url" content="{{ .Permalink }}">
    <meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}">
    <meta name="twitter:image:src" content="{{if isset .Params "featured_image"}}{{.Params.featured_image }}{{else}}https://i.ibb.co/DCwqZCM/typewriter.jpg{{ end }}" />

    <meta property="og:url" content="{{ .Permalink }}" />
    <!--meta property="og:title" content="{{ .Title }} | @fajaragngn " /-->
    <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}" />
    <meta property="og:image" content="{{if isset .Params "featured_image"}}{{.Params.featured_image }}{{else}}https://i.ibb.co/DCwqZCM/typewriter.jpg{{ end }}" />

    {{ partial "head-static.html" . }}
</head>
<body>
    {{ partial "header-nav.html" .}}
